body {
  padding: 10% 20%;
}
nav {
  position: absolute;
  top: 2em;
  left: 2em;
  color: red;
}
fieldset {
  border: 2px solid gray;
}
input {
  border: 2px solid lightgray;
}
div {
  margin-top: 12px;
}
.radius {
  border-radius: 5px;
  background-color: white;
}
